# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test results
[Tt]est[Rr]esult*/[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
